body {
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  .chart-container {
    margin-bottom: 30px;
  }
  
  .total-time {
    font-size: 20px;
    margin-top: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-top: 10px;
    font-size: 16px;
  }
  
  span {
    font-weight: bold;
  }

  

  .chart-container canvas {
    height: 400px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  

  .chart-legend {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .chart-legend li {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .chart-legend li span {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .chart-legend li .sleep {
    background-color: var(--primary-color);
  }
  
  .chart-legend li .game {
    background-color: var(--secondary-color);
  }
  
  .chart-legend li .study {
    background-color: var(--tertiary-color);
  }
  
  .chart-legend li .relax {
    background-color: var(--quaternary-color);
  }
  